/* hero image */

#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(92, 92, 92, 0.5), rgba(40, 37, 37, 0.2)), url("/dubai.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero .hero-container {
    position: relative;
    display: flex;
    height: 90vh;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    flex-direction: column;
}

.main-titlee {
    padding-top: 18rem;
    font-size: 5.5rem;
    font-weight: 800;
    color: #ffffff;
    line-height: 1;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
}

.titlee {
    font-size: 2rem;
    color: #ffffff;
}

.navbar {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 0px solid rgba(255, 255, 255, 0);
}

.navbar-nav .nav-item .nav-link {
    font-weight: 400;
    color: rgb(255, 255, 255) !important;
    /* Set default color to white */
}

.logo span {
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    /* Set default color to white */
}

.flogo span {
    font-size: 30px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.imghei {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%) !important;
    background-size: 200% 100% !important;
    animation: shine 1.5s linear infinite;
    height: 320px !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    object-position: center !important;
}

.cityimghei {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%) !important;
    height: 200px !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    object-position: center !important;
}

.card {
    padding: 0.6rem 0.5rem !important;
    border: rgb(103, 103, 103) !important;
    background-color: #ffffff !important;
    box-shadow: 0 1rem 2rem hsla(180, 1%, 52%, .175) !important;
}

.img-text {
    bottom: 5px;
    background-color: #ffffff;
    color: black;
    z-index: 22;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 1.3rem;
}

.tet-s {
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 6px;
}

.card-price {
    font-size: 1.2rem;
    color: #00b5d6;
    font-weight: 500;
    padding-bottom: 6px;
}

.afte-proj {
    position: relative;
    display: block;
    transition: all 0.3s;
}

.afte-proj::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 21;
}

.afte-proj:hover {
    transform: scale(1.04);
}

.fw-mine {
    font-weight: 800;
}

.footer {
    background-color: #ffffff;
    font-size: 14px;
    padding-bottom: 50px;
}

.footer .footer-top {
    padding-top: 50px;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer h4 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul a {
    color: black;
    display: inline-block;
    line-height: 1.2rem;
}

.textt {
    justify-content: center;
    max-width: 640px;
    margin: 0 auto;
}

.fields {
    width: 100%;
    padding: 1.3rem 1rem;
    border: none;
    border-radius: 7px;
    background-color: #f1f3fa;
}

.fields:focus {
    outline-color: black !important;
}

.btn-dark {
    white-space: nowrap !important;
}

.footer-contact p {
    margin-bottom: 3px;
}

.clients {
    padding: 12px 0;
    text-align: center;
}

.clients img {
    height: 200px !important;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    height: 20px;
    filter: grayscale(50);
}

.clients img:hover {
    filter: none;
    transform: scale(1.1);
}

.img-text {
    color: #000000;
    font-weight: normal;
    font-size: 1.2rem;
    padding-top: 5px;
    text-align: center;
}

.adminlogo {
    line-height: 1;
    font-size: 30px;
    font-weight: 800;
}

.adminlogo img {
    max-height: 40px;
    margin-right: 6px;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}

.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #00a1ff;
}

.header .search-bar {
    min-width: 360px;
    padding: 0 20px;
}

@media (max-width: 1199px) {
    .header .search-bar {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    .header .search-bar-show {
        top: 60px;
        visibility: visible;
        opacity: 1;
    }
}

.header .search-form {
    width: 100%;
}

.header .search-form input {
    border: 0;
    font-size: 14px;
    color: #00a1ff;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}

.header .search-form button i {
    color: #00a1ff;
}


/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/

.header-nav ul {
    list-style: none;
}

.header-nav>ul {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon {
    font-size: 22px;
    color: #00a1ff;
    margin-right: 25px;
    position: relative;
}

.header-nav .nav-profile {
    color: #00a1ff;
}

.header-nav .nav-profile img {
    max-height: 36px;
}

.header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
}

.header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}

.header-nav .notifications {
    inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.header-nav .notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
}

.header-nav .messages {
    inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
    padding: 15px 10px;
    transition: 0.3s;
}

.header-nav .messages .message-item a {
    display: flex;
}

.header-nav .messages .message-item img {
    margin: 0 20px 0 10px;
    max-height: 40px;
}

.header-nav .messages .message-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
}

.header-nav .messages .message-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.header-nav .messages .message-item:hover {
    background-color: #f6f9ff;
}

.header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
}

.header-nav .profile .dropdown-header span {
    font-size: 14px;
}

.header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
}

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    #main,
    #footer {
        margin-left: 300px;
    }
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {
    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }
    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    transition: 0.3;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar-nav .nav-link.active {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #00a1ff;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #000000;
}

.sidebar-nav .nav-link.nav-link.active i {
    font-size: 16px;
    margin-right: 10px;
    color: #00a1ff;
}

.sidebar-nav .nav-link.collapsed {
    color: #00a1ff;
    background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.sidebar-nav .nav-link:hover {
    color: #00a1ff;
    background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
    color: #00a1ff;
}

.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #00a1ff;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #00a1ff;
}

.sidebar-nav .nav-content a.active i {
    background-color: #00a1ff;
}

.modal {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.6) !important;
    display: block !important;
    z-index: 99999999;
}

.modal-main {
    position: absolute;
    background: white;
    width: 900px;
    height: auto;
    overflow: scroll;
    top: 50%;
    border-radius: 10px !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-main2 {
    position: absolute;
    background: white;
    width: 450px;
    height: auto;
    overflow: scroll;
    top: 50%;
    border-radius: 10px !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .main-titlee {
        font-size: 2.5rem;
        font-weight: 800;
        color: #ffffff;
        line-height: 1;
        text-align: center;
        font-family: "Helvetica Neue", sans-serif;
    }
    .titlee {
        font-size: 1.2rem;
        color: #ffffff;
    }
    #hero .hero-container {
        position: relative;
        display: flex;
        height: 100vh;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        flex-direction: column;
    }
}